<ion-view class="fullBg">
  <ion-content scroll="false">
    <img class="menuIcon"  menu-toggle="left" src="img/menu-lines-icon.png">
<img class="cartIcon"  src="img/cart-header-icon.png">
    <img class="logoIcon"  src="img/logo-header-home.png">
    <div class="clearfix" style="margin: 0 0 10px 0;padding: 0;display:block;clear:both;"></div>

    <div class="col-md-12 imagesContanier">
      <div class="contenedor">
        <img src="img/ico-home-ofertas.png">
        <p>
          OFERTAS
        </p>
      </div>
      <div class="contenedor">
        <img src="img/ico-home-tienda.png">
        <p>
          TIENDA
        </p>
      </div>
      <div class="contenedor">
        <img src="img/ico-home-cotizaciones.png">
        <p>
          COTIZACIONES
        </p>
      </div>
      <div class="contenedor">
        <img src="img/ico-home-envios.png">
        <p>
          ENVIOS
        </p>
      </div>
    </div>
    <img ui-sref="login" class="img-responsive cerrarSesionHome" src="img/cerrar-sesion-home.png">
  </ion-content>
</ion-view>
