<ion-view class="lateralMenu">

  <ion-content style="color:white !important;padding-top: 20px;">
    <h4 class="text-center">TUS NOTIFICACIONES</h4>

    <p ng-if="!notificaciones" class="text-center" style="color: white;margin-top: 25px;min-height: 660px;line-height: 660px;font-family: SamsumgBold;font-size: 25px;">
      No tienes notificaciones
    </p>

    <div class="list" ng-if="notificaciones">

    <a class="item item-avatar" href="#">
      <img src="http://placehold.it/150x150">
      <h2>Notificación 1</h2>
      <p>Descripción del Notificación 1.</p>
    </a>

    <a class="item item-avatar" href="#">
      <img src="http://placehold.it/150x150">
      <h2>Notificación 2</h2>
      <p>Descripción del Notificación 2.</p>
    </a>

    <a class="item item-avatar" href="#">
      <img src="http://placehold.it/150x150">
      <h2>Notificación 3</h2>
      <p>Descripción del Notificación 3.</p>
    </a>

    <a class="item item-avatar" href="#">
      <img src="http://placehold.it/150x150">
      <h2>Notificación 4</h2>
      <p>Descripción del Notificación 4.</p>
    </a>

    <a class="item item-avatar" href="#">
      <img src="http://placehold.it/150x150">
      <h2>Notificación 5</h2>
      <p>Descripción del Notificación 5.</p>
    </a>

    <a class="item item-avatar" href="#">
      <img src="http://placehold.it/150x150">
      <h2>Notificación 6</h2>
      <p>Descripción del Notificación 6.</p>
    </a>

    <a class="item item-avatar" href="#">
      <img src="http://placehold.it/150x150">
      <h2>Notificación 7</h2>
      <p>Descripción del Notificación 7.</p>
    </a>

    <a class="item item-avatar" href="#">
      <img src="http://placehold.it/150x150">
      <h2>Notificación 8</h2>
      <p>Descripción del Notificación 8.</p>
    </a>

    <a class="item item-avatar" href="#">
      <img src="http://placehold.it/150x150">
      <h2>Notificación 9</h2>
      <p>Descripción del Notificación 9.</p>
    </a>

    <a class="item item-avatar" href="#">
      <img src="http://placehold.it/150x150">
      <h2>Notificación 10</h2>
      <p>Descripción del Notificación 10.</p>
    </a>



</div>
  </ion-content>
</ion-view>
