<ion-content class="signUp" scroll="false">
    <h1>Wiski</h1>
    <p>A social photo game</p>


    <button class="button button-full button-positive facebook" style="" ui-sref="app.search">
      <i class="ion ion-social-facebook"></i> Iniciar sesión con <strong>facebook</strong>
    </button>

    <button class="button button-full button-positive instagram" style="" ui-sref="app.search">
      <i class="ion ion-social-instagram"></i> Iniciar sesión con <strong>instagram</strong>
    </button>

</ion-content>
